
 *{
 
  margin: 0;
  padding: 0;

}
body{
    display: flex;
    justify-content:center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
 line-height: 3rem;
 
    height: 100vh;

 

}
@media(max-width:500px){
    body{
        background-color:white;
   }
   .img{
    display: none;
   }
}
@media(min-width:501px) and (max-width:768px){
    body{
        background-color: beige;
    }
}   
@media(min-width:769px) and (max-width:1200px){
    body{
        background-color: bisque;
    }
  
}

@media(min-width:1201px){
    body{
        background-color:white;
    }
 
}
.main-container{
    display: flex;
  text-align: center;
  width: 7000px;
  height: fit-content;
  border:1px solid black;
  border-radius: 3px;
  padding: 15px;
  backdrop-filter: blur(4px);
}
.main-container .form{
  
  flex: 50%;
  text-align: right;
  display: flex;
  align-items:center;
  flex-direction: column;
  justify-content:right;


}
.main-container .img{
    background: url("./assests/loginImage.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    flex: 50%;
  
 
}
.input-container input{
  color :black;
  border:black;
  height: 40px;
  background-color: transparent;
  border: 2px solid black;
  width:100%;
  margin-bottom: 20px;
}
 
.input-container input::placeholder{
  color: black;
}
.main-container .logo{
   display: flex;
   background-position:center;
     
}
.button{
  border: 1px solid black;
color: black;
padding: 12px 12px; 
cursor: pointer;
}
.button:hover{
  color: #ccc;
  background-color: grey;
  }
  .register p{
    color: black;
    margin-right: 10px;

  }